body {
  text-align: center;
}

#currentDesignBox {
  display: inline-block;
  margin: 20px;
  border: 10px;
  border-style: solid;
  border-color: black;
  background-color: blue;
}

#prototypeDesignBox {
  display: inline-block;
  margin: 20px;
  border: 10px;
  border-style: solid;
  border-color: black;
  background-color: red;
}